@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* button color */
  --color-primary: #5865f2;
  --color-primary-600: #4654c0;

  /* radius */
  --radius-2xl: calc(1rem - 2px);
  --radius-xl: calc(1rem - 4px);
  --radius-lg: calc(1rem - 6px);
  --radius-md: calc(1rem - 8px);
  --radius-sm: calc(1rem - 10px);
  --radius-xs: calc(1rem - 12px);

  /* dark */
  --black-500 : #393A41;

   /* font */
  --text-body-1: 1rem;
  --text-body-2: .9375rem;
  --text-body-3: .875rem;
  --text-title-1: 2rem;
  --text-title-2: 1.625rem;
  --text-title-3: 1.25rem;
  --text-title-4: 1.125rem;
  --text-caption-1 : 0.75rem;
  
  /* font bold */
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

}

body {
  margin: 0;
  padding: 0;
}