:root {
  /* button color */
  --color-primary: #5865f2;
  --color-primary-600: #4654c0;

  /* radius */
  --radius-2xl: calc(1rem - 2px);
  --radius-xl: calc(1rem - 4px);
  --radius-lg: calc(1rem - 6px);
  --radius-md: calc(1rem - 8px);
  --radius-sm: calc(1rem - 10px);
  --radius-xs: calc(1rem - 12px);
}