<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Main Page입니다.</h1>

    <h2>사용자 정보</h2>
    <p class="info"><strong>Current time:</strong>
        <span th:text="${#temporals.format(#temporals.createNow(), 'yyyy년 MM월 dd일 HH:mm')} + ' KST'">2025년 11월 10일 21:20 KST</span>
    </p>
    <p class="info"><strong>Country:</strong> KR</p>
    <p class="info"><strong>Email:</strong> <span th:text="${user.email} ?: '없음'">없음</span></p>
    <p class="info"><strong>Username:</strong> <span th:text="${user.userName} ?: '없음'">없음</span></p>
    <p class="info"><strong>Nickname:</strong> <span th:text="${user.nickname} ?: '없음'">없음</span></p>
    <p class="info"><strong>Description:</strong> <span th:text="${user.description} ?: '없음'">없음</span></p>

</body>
</html>